@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.swiper-slide img {
  height: 300px;
  margin-top: 40px;
  border: 1px solid indigo;
}
.swiper-slide-active img {
  height: 380px !important;
  margin-top: 0px;
  border: 2px solid indigo;
}
